---
layout: slim
---
<div class="post">
    <div class="row article-hero {% if page.color %}{{ page.color }}{% endif %}" {% if page.image %}style="background-image: url('{{ site.baseurl}}/{{page.image}}');"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4 itemprop="headline">{{ page.title }}</h4>
                    <div class="row">
                        <div class="col ss12  valign-wrapper">
                            {% if page.author %} {% if page.author-image %}
                            <img src="{{ page.author-image }}" class="author-image circle" />{% endif %}
                            <span class="author-name">
                                <a href="{{ page.author-link }}" itemprop="author">{{ page.author }}</a>
                            </span>{% endif %}-
                            <span class="article-date">{{ page.date | date: "%b %-d, %Y" }}</span>
                            <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 article-content">
                <article class="post-content">
                    {{ content }}
                </article>
            </div>
        </div>
        <div class="divider"></div>
    </div>
